/** Variable Declaration **/

/*
:root {
  --background: #222629; 
  --paraText : #6b6e70;
  --headerText : #86c232;
  --base : #212121;
  --pressed: #c5c6c8;
}
*/
/*
:root {
  --background: #fff; 
  --paraText : #15202b;
  --headerText : #192734;
  --base : #212121;
  --pressed: #22303c;

}*/



/* Mode Change Animations */
body,a{
  transition: color 0.5s ease-in 0.5s, background-color 0.5s ease-in 0.5s;
}

div{
}

/* Remove Transitions on pageLoad */
.preLoad{
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


/** Normalization **/

body,html,div,h1,h2,h3,h4,h5, p,a, ul, li{

    margin: 0 auto;
    padding: 0;
    width: auto;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;   
    font-size: 100%;
  }

  img{
    display: block;
  }

  a{
    color : var(--base);
  }

#root{
    width: 100%;
}




body {
    background-color:var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* To remove vertical top margin */
   /* justify-content: center; */
    color: var(--base);
    font-family: 'Raleway';

  }
  
a:hover{
  cursor: pointer;
}


@media only screen and (min-width: 320px) and (max-width: 479px){  }

@media only screen and (min-width: 480px) and (max-width: 768px){ }

@media only screen and (min-width: 769px) and (max-width: 991px){ }

@media only screen and (min-width: 992px){  }