.ContentArea{
    
    display: block;
    opacity: 0;    
    width: 75%;
    margin: 5% 0 0 25%;

    text-align: left;
    padding: 2%;
    /* TODO : remove maybe*/

}

.ContentArea > div{
    padding: 5%;
    font-family: 'Rubik';
    color : var(--paraText);    
}

.ContentArea > div > h1 {
    margin: 3% 0;
    text-transform: uppercase;
    color: var(--headerText);
    border-bottom: 0.1em dashed #86c232;

}

.showMainContent{

    opacity: 1;    
    transition: opacity 0.5s ease-in 0.25s;
    -webkit-transition: opacity 0.5s ease-in 0.25s;
    -moz-transition: opacity 0.5s ease-in 0.25s;
      -o-transition: opacity 0.5s ease-in 0.25s;
}


@media only screen and (min-width: 992px){
    .SideBar{
        font-size: 150%;
    }
    

}

@media only screen and (max-width: 991px){ 
 
    
}


@media only screen and (max-width: 768px){
    .ContentArea{
        display: none;
        width: 100%;
        margin: 5% auto;
        text-align: center;
        opacity: 1;
    }

    .displayMainContent{
        display: block;
    }    

}
    


@media only screen and (max-width: 479px){ 

}