.ExperienceBlock{
    padding: 2% 0 0 0;
}

.ExperienceBlock h3{
    color: #fff;
}


.ExperienceBlock h5{
color: #fff;
}

.DescriptionBox{
padding: 2% 0 0 0;
}


@media only screen and (min-width: 320px) and (max-width: 479px){  }

@media only screen and (min-width: 480px) and (max-width: 768px){ }

@media only screen and (min-width: 769px) and (max-width: 991px){ }

@media only screen and (min-width: 992px){  }