.ExperienceBlock{
    padding: 2% 0 0 0;
    margin: 0% 0% 5% 0%;
}

.ExperienceBlock h3{
    font-size: 80%;
}

.ExperienceBlock h3 a:hover{
    transition: color 0.1s ease-in;
    color:var(--base);
}

.ExperienceBlock h3 a:hover{
    color : var(--headerText);
}



.ExperienceBlock h5{
    color:var(--paraText);
    font-size: 40%;
}

.DescriptionBox{
padding: 2% 0 0 0;
}


/* For SF logo */
.ExperienceBlock:nth-child(1) img{
    width: 130%;
}



@media only screen and (min-width: 992px){
 
}

@media only screen and (max-width: 991px){ 
 
    
}


@media only screen and (max-width: 768px){

    .ExperienceBlock h5{
        font-size: 40%;
        }
        

}
    


@media only screen and (max-width: 479px){ 

}