.SideBar{

    background-color:var(--background);
    width: 30%;
    /*background: yellow;*/
    left: 35%;
    padding: 20px;
    font-family: 'Rubik';
    position: fixed;
    bottom: 5%;
    text-align: center;
    /*display: none;*/ 
    /*TODO : top: 70px; */
    font-size: 200%;
}

.SideBarBox{
    position: relative;
    left: 0%;
}

.sideBarBoxFullWidth{
    left: 110%;
    transition: all 0.5s ease-in;

}

.sideBarStretched{

}

.sideBarCompressed{
    transition: all 0.5s ease-in;
    left: -30%;

}



#displayPhotoArea{
    width: 60%;
    margin: 5% auto;
}

#displayPhotoArea img{
    width: 100%;
}

#welcomeArea{
    margin-bottom: 15%;
}

#welcomeArea h2{
    font-weight: 900;
    text-transform: uppercase;
}

#nameSpan{
    color : #86c232;
}



@media only screen and (min-width: 992px){
    .SideBar{
        font-size: 150%;
    }
    

}

@media only screen and (max-width: 991px){ 
    .SideBar{
        font-size: 120%;


    }
}


@media only screen and (max-width: 768px){
    .SideBar{
        width: 60%;
        font-size: 200%;
        margin-top: 150px;
        position: static;
    }
    #welcomeArea{
        margin-bottom: 5%;
    }
    
    .sideBarCompressed{
        position : static;
        left: 0%;
    }
    

     }
    


@media only screen and (max-width: 479px){ 

    .SideBar{
        font-size: 150%;
    }

    #welcomeArea{
        margin-bottom: 0%;
    }
    
}


