.SkillsBox img{
}

.SkillsBox ul{
    display: flex;
    align-items: flex-start;
    padding: 2% 0% 0% 0%
}
.SkillsBox li{
    width: 5%;
    margin: 0% 5% 0% 0%;
}
.SkillsBox p{
    padding-top: 20px;
}

.SkillsBox a {
    width: 100%;
}
.SkillsBox li:hover{
    transform: scale(1.2);

}
.SkillsBox a:hover{
}
.SkillsBox img{
    width: 100%;
}

@media only screen and (min-width: 992px){


}

@media only screen and (max-width: 991px){ 

}


@media only screen and (max-width: 768px){
    .SkillsBox ul{

        padding: 5% 0%;

    }
    .SkillsBox li{
        width: 40px;
        margin: 0% 2%;
    }

     }
    


@media only screen and (max-width: 479px){ 

}


